div.scroll {
  height: 550px;
  overflow-y: scroll;

}

.row {
  margin-bottom: auto;
}

.collection.with-header .collection-item {
  padding: 10px;
}

.reddit-item {
  text-align: left;
}

.score-text {
  font-size: 1.1em;
  color: #EE4000;
}

.collection.with-header .collection-header, .collection .collection-item {
  background-color: rgba(0, 0, 0, 0.35);
}
